<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css") %>">
  <meta charset="utf-8">
  <title></title>
</head>
<center>
  <body>
    <ul>
    <li><%= erb(:button, :locals => { :object => "signup", :name => "Sign Up" }) %>
    <li><%= erb(:button, :locals => { :object => "signin", :name => "Sign In" }) %>
    <li><%= erb(:button, :locals => { :object => "profile", :name => "Profile" }) %>
    </ul>
    <%= erb(:title) %>
    <% @spaces.reverse.each do |space| %>
      <h2>Name:</h2><%= space.name %>
      <h2>Description:</h2><%= space.description  %>
      <h2>Price:</h2><%= space.price %>
      <h2>Availability</h2>
      <br><br>
    <% end %>
</body>
</center>
</html>
