<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css") %>">
  <meta charset="utf-8">
  <title>Bee 'n' Bee: Homepage</title>
</head>
<center>
  <body>
    <nav>
      <%= erb(:navbar)%>
    </nav>
    <header>
      <%= erb(:title) %>
    </header>
    <section>
      <% @spaces.reverse.each do |space| %>
      <ul>
        <li>
        <%= erb(:indv_space, :locals => { :space => space }) %>
        <hr>
        <% end %>
      </ul>
    </section>
      <%= erb(:footer)%>
    </body>
  </center>
  </html>
