<div id="indv_space">
  <b>Name: </b><%= space.name %><br>
  <b>Description: </b><%= space.description %><br>
  <b>Price: </b><%= space.price %><br>
  <b>Available from: </b><%= space.available_from %><br>
  <b>Available to: </b><%= space.available_to %><br>

  <form action="/space/<%= space.id %>" method="get">
    <input type="submit" class="button" value="Book"/>
  </form>
</div>
