<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css") %>">
  <meta charset="utf-8">
  <title>Bee 'n' Bee: Spaces</title>
</head>
<center>
  <body>
    <nav>
      <%= erb(:navbar)%>
    </nav>
    <header>
      <%= erb(:title) %>
    </header>
      <b>Name: </b><%= @space.name %><br>
      <b>Description: </b><%= @space.description %><br>
      <b>Price: </b><%= @space.price %><br>

      <h2>Dates available</h2>
      

      <h2>When are you buzzing in?</h2>
    <hr>
      <%= erb(:footer)%>
    </body>
  </center>
  </html>
