<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css") %>">
  <meta charset="utf-8">
  <title>Bee 'n' Bee: Spaces</title>
</head>
<center>
  <body>
    <nav>
      <%= erb(:navbar)%>
    </nav>
    <header>
      <%= erb(:title) %>
    </header>
    <section>
      <ul>
        <li>
          <b>Name: </b><%= @space.name %><br>
          <b>Description: </b><%= @space.description %><br>
          <b>Price: </b><%= @space.price %><br>
        <hr>
      </ul>
    </section>
      <%= erb(:footer)%>
    </body>
  </center>
  </html>
